<mat-card>
  <mat-card-title>{{standings.name}} || {{standings.id}}</mat-card-title>
  <mat-card-subtitle>{{standings.startTime | date:'d/M/yy hh:mm z'}} to {{standings.endTime | date:'d/M/yy hh:mm z'}}</mat-card-subtitle>
  <mat-progress-bar mode="determinate" [value]="progressBarValue"></mat-progress-bar>
</mat-card>
<div>
  <mat-table #table [dataSource]="standings.competidors">
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <ng-container *ngFor="let column of columns; let colIndex = index" [matColumnDef]="column.columnDef">
      <mat-header-cell *matHeaderCellDef>{{ column.header }}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ column.cell(row, colIndex) }}</mat-cell>
    </ng-container>
    </mat-table>
</div>
