table {
  width: 100%;
}

.standing {
  position: absolute !important;
  -webkit-transition: top 500ms ease;
  -moz-transition: top 500ms ease;
  -o-transition: top 500ms ease;
  transition: top 500ms ease;
}

.stading-row {
  position: relative;
}

.centralized-column {
  display: flex;
  justify-content: center;
  border-left: 1px solid grey;
  /* border-right: 1px solid grey;
  border-radius: 10% 10%; */
}
.centralized-column:first-of-type {
  padding-left: 0px;
}
.centralized-column:last-of-type {
  padding-right: 0px;
}

.balloon-container {
  display: flex;
  justify-content: center;
  z-index: 0;
  position: relative;
  height: 40px;
  width: 40px;
  top: -12px;
}

.submission-time {
  z-index: 1;
  position: absolute;
  top: 11px;
  color: white;
  text-shadow: 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
}
.submission-count {
  z-index: 3;
  position: absolute;
  top: 25px;
  left: 40px;
  color: white;
  /* font-weight: bold; */
  /* text-shadow: 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black; */
}

.balloon {
  height: 41px;
  z-index: 2;
  position: absolute;
}

.name-or-total {
  display: flex;
  justify-content: center;
  position: relative;
}