<mat-card>
  <mat-card-title>{{standings.name}} || {{standings.id}}</mat-card-title>
  <mat-card-subtitle>{{standings.startTime | date:'d/M/yy hh:mm z'}} to {{standings.endTime | date:'d/M/yy hh:mm z'}}</mat-card-subtitle>
  <mat-progress-bar mode="determinate" [value]="progressBarValue" style='height: 8px'></mat-progress-bar>
</mat-card>
<div class='standings'>
  <div id='frozen-image' [@updatedFreezeState]="getFreezeState()"></div>

  <mat-table #table [dataSource]="standings.competidors">
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <ng-container *ngFor="let column of columns; let colIndex = index" [matColumnDef]="column.columnDef">
      <mat-header-cell *matHeaderCellDef class="centralized-column" style="font-weight: bolder; font-size: 20px">
        {{ column.header }}
      </mat-header-cell>
      <mat-cell *matCellDef="let row; let rowIndex = index" class="centralized-column">
        <div class="standing" [ngStyle]="{top: 75 + position[rowIndex] * 48 + 'px'}">
          <div class="balloon-container" *ngIf="colIndex > 0 && colIndex <= standings.problems.length; else elseBlock" [@submitted]="getState(rowIndex, colIndex)">
          <!-- <div class="balloon-container" *ngIf="colIndex > 0 && colIndex <= standings.problems.length; else elseBlock" [ngStyle]="{backgroundColor: getColor(colIndex)}" [@submitted]="getState(rowIndex, colIndex)"> -->
            <div class="submission-time" [ngStyle]="{fontSize: 15 - column.cell(row, colIndex)[0].length + 'px'}">{{ column.cell(row, colIndex)[0] }}</div>
            <img *ngIf="column.cell(row, colIndex)[0] != '-'; else noBalloon" class="balloon" src='../../assets/balloon.png'>
            <ng-template #noBalloon><div class="no-balloon"></div></ng-template>
            <div class="submission-count" [ngStyle]="{color: column.cell(row, colIndex)[2]}">{{ column.cell(row, colIndex)[1] }}</div>
          </div>
          <ng-template #elseBlock>
            <div class="name-or-total">
              {{ column.cell(row, colIndex) }}
            </div>
          </ng-template>
        </div>
      </mat-cell>
    </ng-container>
  </mat-table>
</div>
