<div class='admin-panel'>
  <mat-accordion>
    <mat-expansion-panel *ngFor='let competition of competitions; let i = index' class='competition' (opened)="openCompetitionAccordion(competition)">
      <mat-expansion-panel-header [collapsedHeight]="'auto'">
        <mat-panel-title>
          <br>
          {{competition.name}}
          <br>
          {{competition.id}}
        </mat-panel-title>
        <mat-panel-description>
          {{competition.competidors.length}} competidors
          <br>
          {{competition.problems.length}} problems
          <br>
          {{competition.startTime | date:'d/M/yy hh:mm z'}} to {{competition.endTime | date:'d/M/yy hh:mm z'}}
        </mat-panel-description>
        <div class="accordion-button">
          <button mat-mini-fab (click)='removeCompetition(competition)' color='accent'><mat-icon>remove</mat-icon></button>
        </div>
      </mat-expansion-panel-header>

      <!-- Info -->
      <h3>Info</h3>
      <mat-card>
        <mat-form-field>
          <input matInput placeholder="Competition Name" name="competitionName" [(ngModel)]="newCompetitionName" required>
        </mat-form-field>
        ||
        <mat-form-field>
          <input matInput placeholder="Huxley Quiz id" name="competitionId" [(ngModel)]="newCompetitionId" required>
        </mat-form-field>
        <button style="float: right" mat-raised-button (click)='editInfo(competition)' [disabled]="newCompetitionName == '' || invalidNumber(newCompetitionId)" color='accent'>Edit Info</button>
      </mat-card>

      <!-- Schedule -->
      <h3>Schedule</h3>
      <mat-card>
        <mat-form-field>
          <input matInput placeholder="Start Date" [matDatepicker]="competitionStartDate" name="competitionStartDate" [(ngModel)]="newCompetitionStartDate" required>
          <mat-datepicker-toggle matSuffix [for]="competitionStartDate"></mat-datepicker-toggle>
          <mat-datepicker #competitionStartDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field style="width: 20%; padding-left: 5px;">
          <input atp-time-picker locale="pt-BR" value="23:59" matInput required placeholder="Start Time" name="competitionStartTime" [(ngModel)]="newCompetitionStartTime" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="End Date" [matDatepicker]="competitionEndDate" name="competitionEndDate" [(ngModel)]="newCompetitionEndDate" required>
          <mat-datepicker-toggle matSuffix [for]="competitionEndDate"></mat-datepicker-toggle>
          <mat-datepicker #competitionEndDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field style="width: 20%; padding-left: 5px;">
          <input atp-time-picker locale="pt-BR" value="23:59" matInput required placeholder="End Time" name="competitionEndTime" [(ngModel)]="newCompetitionEndTime" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Frozen minutes" name="competitionFronzeMinutes" [(ngModel)]="newCompetitionFrozenMinutes">
        </mat-form-field>
        <button style="float: right" mat-raised-button (click)='editSchedule(competition)' [disabled]='invalidDates()' color='accent'>Edit Schedule</button>
      </mat-card>

      <!-- Problems list -->
      <h3>Problems</h3>
      <mat-card *ngFor='let problem of competition.problems; let j = index' class="card-list">
        <h3>ProblemId: {{problem.id}}</h3>
        <mcc-color-picker style="position: relative; right: 10px" [selectedColor]="problem.color" (selected)='editProblemColor(competition, j, $event)'></mcc-color-picker>
        <button mat-mini-fab (click)='removeProblem(competition, j)' color='accent'><mat-icon>remove</mat-icon></button>
      </mat-card>
      <mat-card>
        <mat-form-field>
          <input matInput placeholder="problemId" name="problemId" [(ngModel)]="newProblemId" required>
        </mat-form-field>
        <button style="float: right" mat-raised-button (click)='addProblem(competition)' [disabled]='invalidNumber(newProblemId)' color='accent'>Add Problem</button>
      </mat-card>
  
      <!-- Competidors list -->
      <h3>Competidors</h3>
      <mat-card *ngFor='let competidor of competition.competidors; let j = index' class="card-list">
        <h3>Name: {{competidor.name}}, Id: {{competidor.id}}</h3>
        <button mat-mini-fab (click)='removeCompetidor(competition, j)' color='accent'><mat-icon>remove</mat-icon></button>
      </mat-card>
      <mat-card>
        <mat-form-field>
          <input matInput placeholder="competidorName" name="competidorName" [(ngModel)]="newCompetidorName" required>
        </mat-form-field>
        ||
        <mat-form-field>
          <input matInput placeholder="competidorId" name="competidorId" [(ngModel)]="newCompetidorId" required>
        </mat-form-field>
        <button style="float: right" mat-raised-button (click)='addCompetidor(competition)' [disabled]='invalidNumber(newCompetidorId) || newCompetidorName == ""' color='accent'>Add Competidor</button>
      </mat-card>

      <!-- <button mat-raised-button (click)='removeCompetition(competition)' color='accent'>Remove Competition</button> -->
    </mat-expansion-panel>
  </mat-accordion>

  <br>

  <mat-card>
    <mat-form-field>
      <input matInput placeholder="Competition Name" name="competitionName" [(ngModel)]="newCompetitionName" required>
    </mat-form-field>
    ||
    <mat-form-field>
      <input matInput placeholder="Huxley Quiz id" name="competitionId" [(ngModel)]="newCompetitionId" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Start Date" [matDatepicker]="competitionStartDate" name="competitionStartDate" [(ngModel)]="newCompetitionStartDate" required>
      <mat-datepicker-toggle matSuffix [for]="competitionStartDate"></mat-datepicker-toggle>
      <mat-datepicker #competitionStartDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="width: 20%; padding-left: 5px;">
      <input atp-time-picker locale="pt-BR" value="23:59" matInput required placeholder="Start Time" name="competitionStartTime" [(ngModel)]="newCompetitionStartTime" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="End Date" [matDatepicker]="competitionEndDate" name="competitionEndDate" [(ngModel)]="newCompetitionEndDate" required>
      <mat-datepicker-toggle matSuffix [for]="competitionEndDate"></mat-datepicker-toggle>
      <mat-datepicker #competitionEndDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="width: 20%; padding-left: 5px;">
      <input atp-time-picker locale="pt-BR" value="23:59" matInput required placeholder="End Time" name="competitionEndTime" [(ngModel)]="newCompetitionEndTime" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Frozen minutes" name="competitionFronzeMinutes" [(ngModel)]="newCompetitionFrozenMinutes">
    </mat-form-field>
    <br>
    <button mat-raised-button (click)='addCompetition()' [disabled]='invalidNewCompetition()' color='accent'>Add Competition</button>
  </mat-card>
  <br>
  <button mat-raised-button (click)='logout()' color='accent'>Logout</button>
</div>
