.admin-panel {
  display: flex;
  min-width: 150px;
  max-width: 700px;
  /* padding: 20% 20% 20% 20%; */
  margin: 0 auto;
  flex-direction: column;
}

.login-container > * {
  width: 100%;
}

.remove-button {
  display: flex;
  float: right;
}

.card-list {
  display: flex;
  margin: 5px 5px;
}
.card-list h3 {
  flex: 1;
}

.competition {
  margin: 5px 5px;
  /* padding: 5px; */
}