.adminPanel {
  display: flex;
  min-width: 150px;
  max-width: 700px;
  /* padding: 20% 20% 20% 20%; */
  margin: 0 auto;
  flex-direction: column;
}

.login-container > * {
  width: 100%;
}

.remove-button {
  display: flex;
  float: right;
}